name: CI

on:
  push:
    branches:
      - main
  pull_request_target:

permissions:
  actions: read
  contents: read

jobs:
  main:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - uses: nrwl/nx-set-shas@v4.2.1

      - run: npx nx affected -t lint typecheck test build
