name: CI

on:
  push:
    branches:
      - main
  pull_request_target:

permissions:
  actions: read
  contents: read

jobs:
  main:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Cache node_modules
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - run: npm install

      - uses: nrwl/nx-set-shas@v4.2.1

      # Nx Affected runs only tasks affected by the changes in this PR/commit. Learn more: https://nx.dev/ci/features/affected
      - run: npx nx affected -t lint
      - run: npx nx affected -t test build
